<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/cityBoy/edit/" th:object="${cityBoy}" method="post">
    <input type="text" th:field="*{id}"  placeholder="Enter Id" readonly>
    <br>
    <input type="text" th:field="*{name}" placeholder="Enter Name">
    <br>
    <input type="text" th:field="*{age}" placeholder="Enter Age">
    <button>Edit</button>
</form>
</body>
</html>